{include file="public/header" /}
</div><div class="container">
<script type="text/javascript" src="__STATIC__/index/js/hf.js"></script>
    <div class="container-fluid" style="padding-top:15px;background:#FFF;position:relative">
        <h3 class="movie-title">视频名称：{$info['title']}</h3>
      <div class="player" id="player">
<iframe border="0" frameborder="0" height="460" marginheight="0" marginwidth="0" scrolling="no" src="http://jx.618g.com/?url={$info['url']}" width="100%" allowfullscreen="true" allowtransparency="true"></iframe></div>
   
<div class="col-md-12">
<div class="panel panel-default resource-list">
<div class="panel-heading"><strong>{$info['title']} - 1.在线视频 (支持手机)高清资源 - 在线播放 - 如果不能播放先刷新试试：</strong></div>
<ul class="dslist-group">
<li class="dslist-group-item on"><a href="/play/46694/1/1.html">清晰无字幕</a> </li></ul> 
    <div class="panel-footer resource-help" style="clear: both;">
    <strong>{$info['title']} - 资源观看帮助：</strong><br>
    1、有个别电影打开后播放需要等待。<br>
    2、如果电影打开不能播放请留言给我们，我们更换资源。<br>
    3、有的播放不了请多刷新几下，试试。
    </div>
</div>
</div>
 
    </div>
	<div class="row" style="padding:10px 7px 0px 7px;">
    <div class="col-md-12 movie-item-out">
	    <span><a target="_blank" href="/type/1.html" title="电影">更多电影>>></a></span>
        <h3 style="padding-left:10px;border-left:8px solid #00A6DE;">最新电影：</h3>
    </div>
	{volist name="news_video" id="item_news"}
    <div class="col-md-2 col-sm-6 col-xs-6 movie-item-out">
    <div class="movie-item">
        <a style="position:relative;display:block;" title="{$item_news['title']}" target="_blank" href="{:url('/VIDEO/VI_IN/'.$item_news['id'])}">
            <img class="indexhot" title="{$item_news['title']}" alt="{$item_news['title']}" src="__STATIC__/admin/video_img/{$item_news['image']}">
            <button class="hdtag">高清国语</button>
        </a>
        <div class="meta">
            <div style="width:100%;overflow:hidden;height:20px;"><a target="_blank" title="{$item_news['title']}" class="movie-name" href="{:url('/VIDEO/VI_IN/'.$item_news['id'])}">{$item_news['title']}</a></div>
        <em>添加时间：<strong><span style="color:#FF0000;">{$item_news['online_time']}</span></strong></em>
        </div>
    </div>
    </div>
    {/volist}
</div>
</div>
{include file="public/footer" /}
