<footer class="footer">
    <p>免责声明：本网站所有内容都是靠程序在互联网上自动搜集而来，仅供测试和学习交流。<br/>目前正在逐步删除和规避程序自动搜索采集到的不提供分享的版权影视。</p>
    <p>若侵犯了您的权益，请即时发邮件通知站长 万分感谢！ 1719345962@qq.com</p>
    <em><a href="/">小乐影院</a></em>
        <div style="display: none">
        </div>
</footer>
<script type="text/javascript" src="__STATIC__/index/js/bottom.js"></script></div>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?626dfab00ddc23e3a46ef9e4602f2661";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</body>
</html>