<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
    <title>{$web_info['webtitle']}</title>
    <meta name="Keywords" content="{$web_info['webkeys']}" />
    <meta name="Description" content="{$web_info['webdesc']}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" href="/icon.ico">
    <link rel="stylesheet" href="__STATIC__/index/css/bootstrap.min.css">
    <script src="__STATIC__/index/js/jquery.min.js"></script>
    <script src="__STATIC__/index/js/bootstrap.min.js"></script>
    <script src="__STATIC__/index/js/nav.js"></script>
    <link rel="stylesheet" rev="stylesheet" type="text/css" media="all" href="__STATIC__/index/css/bootadd.css">
    <link rel="stylesheet" rev="stylesheet" type="text/css" media="all" href="__STATIC__/index/css/css2.css">
    <style type="text/css">
        .indexhot {
            width: 100%;
        }
    </style>
</head>
<body>
<div style="background:#FFF">
<div style="padding:5px 0;border-bottom:1px solid #DDD;">
    <div class="container">
        <span class="header-help">记住我们网址:http://thinkphpcms.com</span>
        <div class="pull-right">
            <a class="header-help" href="javascript:alert('快捷键Ctrl+D可以快速添加到收藏夹。');">Ctrl+D 加入收藏夹</a>
        </div>
    </div>
</div>
<div class="container" style="padding-top:15px;padding-bottom:15px;padding-right:0;">
    <div class="pull-right">
        <form class="navbar-form" target="_blank" accept-charset="utf-8" action="/" method="get" role="search">
            <div class="form-group">
                <input type="text" class="form-control" name="title" placeholder="电影搜索">
            </div><button type="submit" class="btn btn-primary">搜索</button>
        </form>
    </div>
</div>
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"  id="navbar" >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="nav_status">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">首页</a></li>
                <li  ><a href="/?keyword=1">韩国电影</a></li>
                <li  ><a href="/?keyword=2">美国大片</a></li>
                <li  ><a href="/?keyword=3">喜剧</a></li>
                <li  ><a href="/?keyword=4">爱情</a></li>
                <li  ><a href="/?keyword=5">香港</a></li>
                <li  ><a href="/?keyword=6">青春</a></li>
                <li  ><a href="/?keyword=7">犯罪</a></li>
            </ul>
        <div class="pull-right">
            <ul class="nav navbar-nav">
            </ul>
        </div>
        </div>
    </div>
</nav>
